<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="menu">
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
            <li class="nav-item pull-right">
                Hello <strong th:text="${username}"></strong>&nbsp;
                <img id="profile-picture" th:src="${avatar}" width="40" height="40" class="rounded-circle" />
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tasks">Tasks</a>
            </li>
            <li class="nav-item" th:if="${admin == 1}">
                <a class="nav-link" href="/employees">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reports">Report</a>
            </li>
            <li class="nav-item">
                <a href="/logout" class="btn btn-sm btn-secondary mr-sm"><i class="fa fa-power-off"> Logout</i></a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>