<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="paging">
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item" th:if="${currentPage > 0}">
                <a class="page-link" th:href="@{/tasks(page=${currentPage - 1})}" tabindex="-1">Previous</a>
            </li>
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link"
                   th:href="@{/tasks(page=${pageNumber - 1})}" th:text="${pageNumber}"></a>
            </li>
            <li class="page-item" th:if="${currentPage} &lt; ${totalPages}">
                <a class="page-link" th:href="@{/tasks(page=${currentPage + 1})}">Next</a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>