<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="container-fluid" th:fragment="taskSearch">
    <h4>Search Creteria</h4>
    <form class="container-fluid">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="sName">Task Name</label>
                <input type="email" class="form-control" id="sName"/>
            </div>
            <div class="form-group col-md-2">
                <label for="status">Status</label>
                <input type="email" class="form-control" id="status"/>
            </div>
            <div class="form-group col-md-2">
                <label for="assignee">Assignee</label>
                <select id="assignee" class="form-control">
                    <option>...</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="date">Created Date</label>
                <input type="text" class="form-control" id="date"/>
            </div>
            <div class="form-group col-md-2">
                <label for="btnSearch">&nbsp;</label>
                <button type="submit" class="btn btn-primary" id="btnSearch">Search</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>