<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PQ-HRM</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <div class="container-fluid" th:insert="~{common/header}"></div>

    <form class="container-fluid">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only">Task Name</label>
                <input type="text" class="form-control mb-2"/>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </div>
        </div>
    </form>

    <div class="container-fluid">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"><input type="checkbox"/></th>
                <th scope="col">Task</th>
                <th scope="col">Description</th>
                <th scope="col">Creator</th>
                <th scope="col">Created At</th>
                <th scope="col">Updated At</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td><input type="checkbox"/></td>
                <td th:text="${task.taskName}"></td>
                <td th:text="${task.description}"></td>
                <td th:text="${task.creator.getAlias()}"></td>
                <td th:text="${task.createdAt}"></td>
                <td th:text="${task.updatedAt}"></td>
                <td th:text="${task.status}"></td>
                <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#mdlAssign">
                        <i class="fas fa-user-edit ms-2">Assign</i>
                    </button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#mdlEdit">
                        <i class="fas fa-user-edit ms-2">Edit</i>
                    </button>
                    <button class="btn btn-dark" data-toggle="modal" data-target="#mdlDelete">
                        <i class="fas fa-user-edit ms-2">Delete</i>
                    </button>
                </td>

                <div th:insert="~{tasks/assign}"/>
                <div th:insert="~{tasks/edit}"/>
                <div th:insert="~{tasks/delete}"/>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary">Create Task</button>
        <div th:insert="~{common/paging}"></div>
        <div th:insert="~{common/footer}"></div>
    </div>
</div>

</body>
</html>
